@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.shoppingAdress {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.shoppingAdress .shoppingAdress__1140px {
  width: 1140px;
}
.shoppingAdress .shoppingAdress__1140px input[id=checkbox] {
  display: none;
}
.shoppingAdress .shoppingAdress__1140px label {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__none {
  display: none;
  transition-duration: 0.5s;
  margin-top: 35px;
}
.shoppingAdress .shoppingAdress__1140px input:checked ~ div {
  display: block;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye {
  display: flex;
  margin-left: 30px;
  width: 1000px;
  justify-content: space-between;
  margin-bottom: 80px;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .shoppingAdress__bye--guestCheck {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 34px;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .shoppingAdress__bye--guestCheck span {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .checkbox label {
  padding-left: 15px;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .checkbox .checkbox__1--padding {
  margin-left: 15px;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .checkbox .checkbox__1 {
  margin-bottom: 20px;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .checkbox p {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .checkbox p span {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .checkbox i {
  font-size: 12px;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .checkbox .checkbox__text {
  margin: 35px 0;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .checkbox .checkbox__button {
  margin-top: 35px;
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .checkbox .checkbox__button .checkbox__button--p {
  transition-duration: 0.4s;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .checkbox .checkbox__button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.23), 0 5px 5px rgba(0, 0, 0, 0.2);
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .checkbox .checkbox__button:hover .checkbox__button--p {
  font-size: 20px;
  color: #f16d7f;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .shoppingAdress__bye--header {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .shoppingAdress__bye--header span {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .registed p {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .registed p span {
  color: #ff0d0d;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .registed .registed__email {
  width: 390px;
  height: 43px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 12px;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .registed .registed__button {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .registed .registed__button .form__button {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .registed .registed__button .form__button .form__button--p {
  transition-duration: 0.4s;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .registed .registed__button .form__button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.23), 0 5px 5px rgba(0, 0, 0, 0.2);
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .registed .registed__button .form__button:hover .form__button--p {
  font-size: 20px;
  color: #f16d7f;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.shoppingAdress .shoppingAdress__1140px .shoppingAdress__bye .registed .registed__button a {
  margin-left: 32px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.shoppingAdress .shoppingAdress__1140px .falseLine {
  width: 1140px;
  height: 1px;
  background-color: #e8e8e8;
  margin-top: 33px;
  margin-bottom: 33px;
}
.shoppingAdress .shoppingAdress__1140px input[id=checkbox2] {
  display: none;
}
.shoppingAdress .shoppingAdress__1140px .billingInfo__none {
  display: none;
  transition-duration: 0.5s;
  margin-top: 35px;
}
.shoppingAdress .shoppingAdress__1140px input:checked ~ div {
  display: block;
}
.shoppingAdress .shoppingAdress__1140px input[id=checkbox3] {
  display: none;
}
.shoppingAdress .shoppingAdress__1140px .shoppingInfo__none {
  display: none;
  transition-duration: 0.5s;
  margin-top: 35px;
}
.shoppingAdress .shoppingAdress__1140px input:checked ~ div {
  display: block;
}
.shoppingAdress .shoppingAdress__1140px input[id=checkbox4] {
  display: none;
}
.shoppingAdress .shoppingAdress__1140px .shoppingMethod__none {
  display: none;
  transition-duration: 0.5s;
  margin-top: 35px;
}
.shoppingAdress .shoppingAdress__1140px input:checked ~ div {
  display: block;
}
.shoppingAdress .shoppingAdress__1140px input[id=checkbox5] {
  display: none;
}
.shoppingAdress .shoppingAdress__1140px .paymentMethod__none {
  display: none;
  transition-duration: 0.5s;
  margin-top: 35px;
}
.shoppingAdress .shoppingAdress__1140px input:checked ~ div {
  display: block;
}
.shoppingAdress .shoppingAdress__1140px input[id=checkbox6] {
  display: none;
}
.shoppingAdress .shoppingAdress__1140px .order__none {
  display: none;
  transition-duration: 0.5s;
  margin-top: 35px;
}
.shoppingAdress .shoppingAdress__1140px input:checked ~ div {
  display: block;
}

/*# sourceMappingURL=checkout.css.map */
